:root {
  /* colors */
  --text: light-dark(#000, #fff);
  --text-on-color: light-dark(#fff, #000);
  --background: light-dark(#fff, #000);
  --background-pre: #eee;
  --background-ins: #fff9c0;
  --border: #999;

  --text-disabled: light-dark(#666, #fff);
  --border-disabled: #999;
  --background-disabled: #ccc;

  --color-info: #cff4fc;
  --color-info-border: hsl(from var(--color-info) h s calc(l - 10));

  --color-success: #d1e7dd;
  --color-success-border: hsl(from var(--color-success) h s calc(l - 10));

  --color-warning: #fff3cd;
  --color-warning-border: hsl(from var(--color-warning) h s calc(l - 10));

  --color-danger: #f8d7da;
  --color-danger-border: hsl(from var(--color-danger) h s calc(l - 10));

  --color-primary: #1e3264;
  --color-primary-hover: hsl(from var(--color-primary) h s calc(l + 10));

  --color-secondary: #0f62fe;
  --color-secondary-hover: hsl(from var(--color-secondary) h s calc(l + 10));

  --color-link: #4169e1;
  --color-link-hover: hsl(from var(--color-link) h s calc(l - 20));
  --color-link-visited: #800080;

  --button-text: var(--color-primary);
  --button-background: #fff;
  --button-background-hover: #b9d4ff;
  --button-border: var(--color-primary);

  /* typography */
  --font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-code: "Roboto Mono", monaco, consolas, "Andale Mono",
    "DejaVu Sans Mono", monospace;

  --font__line-height-tight: 1.15;
  --font__line-height-body: 1.5;
  --font__line-height-pre: 1.6;

  --font__size-xs: 0.75rem; /* 12 px – np. metadane, caption */
  --font__size-sm: 0.875rem; /* 14 px – tekst pomocniczy */
  --font__size-md: 1rem; /* 16 px – kopia podstawowa */
  --font__size-lg: 1.125rem; /* 18 px – lead, większe przyciski */
  --font__size-xl: 1.25rem; /* 20 px – minor heading */
  --font__size-2xl: 1.5rem; /* 24 px – h4-h5, hero subheading */
  --font__size-3xl: 1.75rem; /* h3 */
  --font__size-4xl: 2.1rem; /* h2 */
  --font__size-5xl: 2.5rem; /* h1 / hero */

  --font__weight-light: 300;
  --font__weight: 400;
  --font__weight-bold: 700;

  /* shapes */
  --shape: 0.5rem;

  /* spacing */
  --space-xs: 0.25rem; /* 4 px */
  --space-sm: 0.5rem; /* 8 px */
  --space-md: 1rem; /* 16 px */
  --space-lg: 1.5rem; /* 24 px */
  --space-xl: 2rem; /* 32 px */
  --space-2xl: 3rem; /* 48 px */
  --space-3xl: 4rem; /* 64 px */

  --min-dialog-width: 300px;
  --max-dialog-width: 80%;
}
