:root {
  /* colors */
  --text: light-dark(#000, #fff);
  --text-on-color: light-dark(#fff, #000);
  --text-disabled: #666;

  --color-success: light-dark(#016612, #4fb96d);
  --color-warning: light-dark(#f59a23, #ffb84d);
  --color-error: light-dark(#93000a, #ff4c4c);
  --color-primary: light-dark(#1e3264, #8ab4f8);
  --color-secondary: light-dark(#0f62fe, #5c99ff);

  --color-success-hover: light-dark(#027a16, #5fdc84);
  --color-warning-hover: light-dark(#ffac3e, #ffcc66);
  --color-error-hover: light-dark(#b00020, #ff6b6b);
  --color-primary-hover: light-dark(#2b4a8b, #a3c1ff);
  --color-secondary-hover: light-dark(#408bff, #82b3ff);

  --color-active: var(--color-warning);
  --color-disabled: #ccc;

  --background: light-dark(#fff, #000);
  --background-hover: light-dark(#b9d4ff, #000);

  /* typography */
  --font__main: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font__code: "Roboto Mono", monaco, consolas, "Andale Mono",
    "DejaVu Sans Mono", monospace;
  --font__pre: "Courier 10 Pitch", courier, monospace;
  --font__line-height-body: 1.5;
  --font__line-height-pre: 1.6;

  /* shapes */
  --shape: 8px;

  /* spacing */
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
}
