@layer opi-theme {
  .alert {
    --link: var(--text);
    --link-hover: var(--text);
    --link-visited: var(--text);

    display: flex;
    gap: 16px;
    align-items: center;
    border: 1px solid;
    color: var(--text);
    padding-left: 16px;
    background-color: var(--background);
    border-color: var(--border);
    border-radius: var(--border-radius);

    > button:last-of-type {
      margin-left: auto;
      color: currentColor;
    }

    &.variant-info {
      --text: var(--color-info);
      --background: var(--color-info-bg);
      --border: var(--color-info-border);
    }

    &.variant-success {
      --text: var(--color-success);
      --background: var(--color-success-bg);
      --border: var(--color-success-border);
    }

    &.variant-warning {
      --text: var(--color-warning);
      --background: var(--color-warning-bg);
      --border: var(--color-warning-border);
    }

    &.variant-danger {
      --text: var(--color-danger);
      --background: var(--color-danger-bg);
      --border: var(--color-danger-border);
    }
  }
}
