@layer opi-theme {
  embed,
  iframe,
  object {
    max-width: 100%;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  figure {
    margin: 0;

    figcaption {
      font-size: var(--font__size-sm);
      font-style: italic;
      text-align: center;
    }
  }
}
