button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 2px solid var(--color-primary);
  border-radius: var(--shape);
  background: var(--background);
  color: var(--color-primary);
  padding: 8px 16px;
  font-size: var(--font-size-md);
  font-weight: 700;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: var(--background-hover);
  }

  &:active,
  &:focus-visible {
    outline: 2px dashed currentColor;
    outline-offset: -4px;
    background-color: var(--background-hover);
    border-color: var(--background-hover);
  }

  &:disabled {
    color: var(--text-disabled);
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
    cursor: not-allowed;
    pointer-events: none;
  }

  &.variant-primary {
    color: var(--text-on-color);
    background-color: var(--color-primary);
    border-color: var(--color-primary);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }

    &:disabled {
      color: var(--text-disabled);
      background-color: var(--color-disabled);
    }
  }

  &.variant-secondary {
    color: var(--text-on-color);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover,
    &:active,
    &:focus-visible {
      background-color: var(--color-secondary-hover);
      border-color: var(--color-secondary-hover);
    }

    &:disabled {
      color: var(--text-disabled);
      background-color: var(--color-disabled);
    }
  }

  &.variant-icon {
    background-color: transparent;
    border-color: transparent;

    > span:first-of-type {
      font-size: var(--font-size-lg);
    }
  }

  &.size-sm {
    font-size: var(--font-size-sm);
    padding: 4px 8px;
  }

  &.size-lg {
    font-size: var(--font-size-lg);
    padding: 12px 24px;
  }
}
