@layer theme {
  button,
  input:where([type="button"], [type="reset"], [type="submit"]) {
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-color: var(--button-border);
    border-radius: var(--border-radius);
    background-color: var(--button-background);
    color: var(--button-text);
    font-size: var(--button-font-size);
    font-weight: var(--font__weight-bold);
    line-height: var(--font__line-height-tight);
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 16px;
    height: var(--button-size);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: var(--button-background-hover);
    }

    &:active {
      background-color: var(--button-background-active);
    }

    &:disabled {
      --button-text: var(--text-disabled);
      --button-background: var(--background-disabled);
      --button-border: var(--border-disabled);

      cursor: not-allowed;
      pointer-events: none;
    }

    &.size-sm {
      --button-font-size: var(--font__size-sm);
      --icon-font-size: var(--font__size-sm);
      --button-size: 30px;
      padding: 4px 8px;
      gap: 8px;
    }

    &.size-lg {
      --button-font-size: var(--font__size-lg);
      --icon-font-size: var(--font__size-lg);
      --button-size: 50px;
      padding: 12px 24px;
      gap: 24px;
    }

    &.variant-primary:not(:disabled) {
      --button-text: #fff;
      --button-background: var(--color-primary);
      --button-border: var(--color-primary);
      --button-background-hover: var(--color-primary-hover);
      --button-background-active: var(--color-primary-active);
    }

    &.variant-secondary:not(:disabled) {
      --button-text: #fff;
      --button-background: var(--color-secondary);
      --button-border: var(--color-secondary);
      --button-background-hover: var(--color-secondary-hover);
      --button-background-active: var(--color-secondary-active);
    }

    &.variant-transparent:not(:disabled) {
      --button-background: hsl(from var(--text) h s l / 0);
      --button-background-hover: hsl(from var(--text) h s l / 0.1);
      --button-background-active: hsl(from var(--text) h s l / 0.2);
      --button-border: transparent;
    }

    &.variant-icon {
      display: inline-flex;
      padding: 8px;
      width: var(--button-size);

      &.size-sm {
        padding: 4px;
      }

      &.size-lg {
        padding: 12px;
      }
    }
  }
}
