@layer theme {
  input:not(
      [type="button"],
      [type="reset"],
      [type="submit"],
      [type="checkbox"],
      [type="radio"]
    ),
  textarea,
  select {
    color: var(--input-text);
    background-color: var(--input-background);
    border: 0 none;
    border-bottom: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    width: 100%;

    &::placeholder {
      color: hsl(from var(--input-text) h s l / 0.7);
    }

    &:not([type="range"], textarea) {
      height: 40px;
    }

    &:where([type="range"]) {
      padding: 0;
    }

    &:where([type="color"]) {
      padding: 4px;
      width: var(--button-size);
    }

    + .error {
      display: none;
    }

    &:not(:valid, :disabled) {
      --input-text: var(--color-danger);
      --input-border: var(--color-danger-border);
      --input-background: var(--color-danger-bg);

      + .error {
        font-size: var(--font__size-sm);
        color: var(--color-danger);
        margin-top: 5px;
        display: block;
      }
    }

    &:disabled {
      --input-text: var(--text-disabled);
      --input-background: var(--background-disabled);
      --input-border: var(--border-disabled);

      cursor: not-allowed;
      pointer-events: none;
    }
  }

  textarea {
    width: 100%;
    vertical-align: top;
  }

  select {
    appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, var(--text) 50%),
      linear-gradient(135deg, var(--text) 50%, transparent 50%);
    background-position: calc(100% - 22px) 50%, calc(100% - 16px) 50%;
    background-size: 6px 6px;
    background-repeat: no-repeat;
  }

  label:has(+ input, + textarea, + select, + progress, + meter) {
    font-size: var(--font__size-sm);
    display: block;
    width: max-content;
    margin-bottom: 5px;
  }
}
