@layer theme {
  input:not(
      [type="button"],
      [type="reset"],
      [type="submit"],
      [type="checkbox"],
      [type="radio"]
    ),
  textarea,
  select {
    color: var(--input-text);
    background-color: var(--input-background);
    border: 0 none;
    border-bottom: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    padding: 8px 16px;
    width: 100%;

    &::placeholder {
      color: hsl(from var(--input-text) h s l / 0.7);
    }

    &:not([type="range"], textarea) {
      height: 40px;
    }

    &:where([type="range"]) {
      padding: 0;
    }

    &:where([type="color"]) {
      padding: 4px;
      width: var(--button-size);
    }

    + .error {
      display: none;
    }

    &:not(:valid, :disabled) {
      --input-text: var(--color-danger);
      --input-border: var(--color-danger-border);
      --input-background: var(--color-danger-bg);

      + .error {
        font-size: var(--font__size-sm);
        color: var(--color-danger);
        margin-top: 5px;
        display: block;
      }
    }

    &:disabled {
      --input-text: var(--text-disabled);
      --input-background: var(--background-disabled);
      --input-border: var(--border-disabled);

      cursor: not-allowed;
      pointer-events: none;
    }
  }

  textarea {
    width: 100%;
    vertical-align: top;
  }

  select {
    appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, var(--text) 50%),
      linear-gradient(135deg, var(--text) 50%, transparent 50%);
    background-position: calc(100% - 22px) 50%, calc(100% - 16px) 50%;
    background-size: 6px 6px;
    background-repeat: no-repeat;
  }

  label:has(+ input, + textarea, + select, + progress, + meter) {
    font-size: var(--font__size-sm);
    display: block;
    width: max-content;
    margin-bottom: 5px;
  }

  input[type="checkbox"] {
    appearance: none;
    margin: 0 16px 0 0;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: var(--border-radius);
    display: inline-grid;
    place-content: center;
    cursor: pointer;

    &::before {
      content: "";
      width: var(--checkbox-size);
      height: var(--checkbox-size);
      transform: scale(0);
      box-shadow: inset var(--checkbox-size) var(--checkbox-size)
        var(--input-text);
      transform-origin: center center;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    &:checked::before {
      transform: scale(0.7);
    }

    + label {
      user-select: none;
      vertical-align: text-bottom;

      + .error {
        display: none;
      }
    }

    &:not(:valid, :disabled) {
      --input-border: var(--color-danger-border);
      --input-background: var(--color-danger-bg);

      + label + .error {
        font-size: var(--font__size-sm);
        color: var(--color-danger);
        margin-top: 5px;
        display: block;
      }
    }

    &:disabled {
      --input-text: var(--text-disabled);
      --input-background: var(--background-disabled);
      --input-border: var(--border-disabled);

      cursor: not-allowed;
      pointer-events: none;
    }
  }

  input[type="radio"] {
    appearance: none;

    margin: 0 16px 0 0;
    width: var(--radio-size);
    height: var(--radio-size);
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 50%;
    display: inline-grid;
    place-content: center;
    cursor: pointer;

    &::before {
      content: "";
      width: var(--radio-size);
      height: var(--radio-size);
      border-radius: 50%;
    }

    &:checked::before {
      background-color: currentColor;
      transform: scale(0.5);
    }

    + label {
      user-select: none;
      vertical-align: text-bottom;
    }

    &:not(:valid, :disabled) {
      --input-border: var(--color-danger-border);
      --input-background: var(--color-danger-bg);
    }

    &:disabled {
      --input-text: var(--text-disabled);
      --input-background: var(--background-disabled);
      --input-border: var(--border-disabled);

      cursor: not-allowed;
      pointer-events: none;

      &:checked::before {
        background-color: var(--input-text);
      }
    }
  }

  fieldset:has(input[type="radio"]) {
    .error {
      display: none;
      font-size: var(--font__size-sm);
      color: var(--color-danger);
      margin-top: 5px;
    }
  }

  fieldset:has(input[type="radio"][required]:not(:valid, :disabled)) {
    .error {
      display: block;
    }
  }
}
