details {
  border: 1px solid var(--border);
  border-radius: var(--shape);
  margin-bottom: 8px;
  padding: 8px;
  width: 300px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] {
  background-color: var(--background);
}
