details {
  --shape: 0;

  border: 1px solid var(--border);
  border-radius: var(--shape);
  padding: var(--space-md);
  margin-bottom: var(--space-sm);
  width: 100%;
}

summary {
  cursor: pointer;
}

details[open] {
  background-color: var(--background);
}
