.alert {
  --link: var(--text);
  --link-hover: var(--text);
  --link-visited: var(--text);
  --text-on-color: var(--text);

  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: start;
  border: 1px solid;

  > div:first-of-type {
    padding: 8px 16px;
  }

  &.variant-info {
    background-color: var(--color-info);
    border-color: var(--color-info-border);
  }

  &.variant-success {
    background-color: var(--color-success);
    border-color: var(--color-success-border);
  }

  &.variant-warning {
    background-color: var(--color-warning);
    border-color: var(--color-warning-border);
  }

  &.variant-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger-border);
  }
}
