dialog {
  border: none;
  border-radius: var(--shape);
  padding: var(--space-md);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  max-width: 80%;
  background-color: var(--background);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
