@layer theme {
  dialog {
    border: none;
    border-radius: var(--border-radius);
    padding: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    min-width: var(--dialog-min-width);
    max-width: var(--dialog-max-width);
    background-color: var(--background);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
