a {
  color: var(--color__link);

  &:visited {
    color: var(--color__link-visited);
  }

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--color__link-hover);
  }

  &:focus-visible {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
