a {
  color: var(--link);

  &:visited {
    color: var(--link-visited);
  }

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--link-hover);
  }

  &:focus-visible {
    outline: 2px dashed currentColor;
    outline-offset: 2px;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
