a {
  color: var(--color-link);

  &:visited {
    color: var(--color-link-visited);
  }

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--color-link-hover);
  }

  &:focus-visible {
    outline: 2px dashed var(--color-link);
    outline-offset: 2px;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
