@layer theme {
  ul,
  ol {
    margin: 0 0 15px 30px;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ul,
  li > ol {
    margin-bottom: 0;
    margin-left: 15px;
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin: 0 15px 15px;
  }
}
