@layer theme {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  caption {
    caption-side: bottom;
    font-size: var(--font__size-sm);
    font-style: italic;
    text-align: center;
  }

  th,
  td {
    border-bottom: 1px solid var(--table-border);
    padding: 8px 16px;
  }

  td:last-of-type {
    text-align: center;
  }

  tbody > tr {
    &:nth-of-type(even) {
      background-color: var(--table-background);
    }
  }

  tfoot th {
    text-align: right;
  }

  tfoot td {
    font-weight: var(--font__weight-bold);
  }
}
