<ol class="definitions">
  <li>ordered list</li>
</ol>
<ol>
  <li>Beast of Bodmin</li>
  <li>Morgawr</li>
  <li>Owlman</li>
</ol>

<ol class="definitions">
  <li>unordered list</li>
</ol>
<ul>
  <li>Beast of Bodmin</li>
  <li>Morgawr</li>
  <li>Owlman</li>
</ul>

<ol class="definitions">
  <li>definition list</li>
</ol>
<dl>
  <dt>Beast of Bodmin</dt>
  <dd>A large feline inhabiting Bodmin Moor.</dd>

  <dt>Morgawr</dt>
  <dd>A sea serpent.</dd>

  <dt>Owlman</dt>
  <dd>A giant owl-like creature.</dd>
</dl>

<ol class="definitions">
  <li>&lt;em&gt;</li>
  <li>&lt;i&gt;</li>
  <li>&lt;cite&gt;</li>
</ol>
<p>
  You can <em>emphasise</em> things, set something in <i>italic</i>, provide a
  <cite>citation</cite>.
</p>

<hr />

<ol class="definitions">
  <li>&lt;sup&gt;</li>
  <li>&lt;sub&gt;</li>
  <li>&lt;strong&gt;</li>
  <li>&lt;u&gt;</li>
</ol>
<p>
  You can <sup>sup</sup> or <sub>sub</sub> things, set something in
  <strong>strong</strong> or <u>underline</u>.
</p>

<hr />

<ol class="definitions">
  <li>&lt;small&gt;</li>
</ol>
<p>You can set something <small>small</small>.</p>

<hr />

<ol class="definitions">
  <li>&lt;dfn&gt;</li>
</ol>
<p>
  Define a term such as
  <dfn title="Hyper-text Markup Language">HTML</dfn>.
</p>

<hr />

<ol class="definitions">
  <li>&lt;blockquote&gt;</li>
  <li>&lt;cite&gt;</li>
</ol>
<blockquote>
  <p>"A block-quote is perfect for longer excerpts that need to stand out."</p>
  <cite>— Anonymous</cite>
</blockquote>

<hr />

<ol class="definitions">
  <li>&lt;address&gt;</li>
</ol>
<address>
  Jane Doe<br />
  123 Main St.<br />
  Springfield
</address>

<hr />

<ol class="definitions">
  <li>&lt;code&gt;</li>
  <li>&lt;kbd&gt;</li>
  <li>&lt;var&gt;</li>
</ol>
<p>
  Inline code like <code>npm start</code>, a keyboard shortcut
  <kbd>Ctrl + S</kbd>, or a variable <var>x</var> all share the same monospaced
  face.
</p>

<hr />

<ol class="definitions">
  <li>&lt;pre&gt;</li>
  <li>&lt;code&gt;</li>
</ol>
<pre><code>// Pre-formatted code block
  console.log('Hello');
greet('World');</code></pre>

<hr />

<ol class="definitions">
  <li>&lt;abbr&gt;</li>
</ol>
<p>Need an explanation? <abbr title="Cascading Style Sheets">CSS</abbr></p>

<hr />

<ol class="definitions">
  <li>&lt;ins&gt;</li>
  <li>&lt;del&gt;</li>
  <li>&lt;mark&gt;</li>
</ol>
<p>
  Something was <ins>inserted</ins> or <del>del</del>. Should be
  <mark>highlighted</mark>.
</p>
